/***** ANIM COEUR *****/

@mixin heartanimation {
  position: relative;
  border-radius: 50%;
  width: auto;

  &:hover > .heart-1 {
    opacity: 0;
    font-weight: 700;
  }

  &:hover > .heart-2 {
    @include fillAnimation;
  }

  .heart-1 {
    position: absolute;
    color: #000000;
    font-size: 24px;
    display: block;
    background: -webkit-linear-gradient(238deg, black 0%, black 39%, black 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }

  .heart-2 {
    font-size: 24px;
    background: $button-gradient;
    position: relative;
    top: -10px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
}

@mixin fillAnimation {
  @-webkit-keyframes fill {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      font-weight: 700;
    }
  }

  @keyframes fill {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      font-weight: 700;
    }
  }

  -webkit-animation: fill 250ms ease-out forwards;
  animation: fill 250ms ease-out forwards;
}

/*****  CARTE PLAT SUR MENU RESTO*****/

@mixin itempop {
  display: grid;
  gap: 10px;
  animation: itempop 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
  @keyframes itempop {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
@mixin itempop2 {
  display: grid;
  gap: 10px;
  animation: itempop 1.2s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
  @keyframes itempop {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
@mixin itempop3 {
  display: grid;
  gap: 10px;
  animation: itempop 1.8s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
  @keyframes itempop {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}

/***** LOADER *****/

@mixin loader {
  border: 16px solid $grey-2;
  border-top: 16px solid $purple;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
