@charset "UTF-8";
* {
  box-sizing: border-box;
}

:root {
  --grey: #353535;
  --grey-2: #eaeaea;
  --grey-3: #f6f6f6;
  --grey-4: #7e7e7e;
  --white: rgb(255, 255, 255);
}

/***** Small devices (phones, less than 768px) *****/
@media (max-width: 767.98px) {
  body {
    margin: 0;
  }
  /***** ↓ HEADER ↓ *****/
  header {
    display: flex;
    width: 100%;
    height: 63px;
    padding: 14px 89px 13px 89px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  h1 {
    color: black;
    text-align: center;
    font-family: Shrikhand;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__city {
    background-color: var(--grey-2);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    box-shadow: inset 0px 11px 8px -10px var(--grey);
  }
  .header__city--text {
    color: var(--Grey, #353535);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .fa-solid {
    color: var(--grey);
  }
  /***** ↓ MAIN ↓ *****/
  /***** ↓ TITRE(h2) + BOUTON EXPLORER ↓ *****/
  .container__reservation {
    background-color: var(--grey-3);
    padding: 39px 0px 57px 0px;
  }
  h2 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 58px 0px 42px;
  }
  .reservation p {
    height: 46px;
    flex-shrink: 0;
    color: var(--Grey);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0px 26px 0px 34px;
    margin-top: 0px;
  }
  /***** ↓ BUTTON ↓ *****/
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(193deg, #b184e6, #fe00b8);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin: 0px 75px 0px 82px;
  }
  .btn__explor {
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .btn:hover {
    filter: brightness(1.2);
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
  }
  /***** ↓ FUCTIONING ↓ *****/
  h3 {
    margin: 0px 0px 0px 0px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 48px 80px 26px 20px;
  }
  .functioning {
    /***** ↓ FUCTIONING BUTTONS ↓ *****/
  }
  .functioning__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 72.379px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: var(--grey-3);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 20px 25px 32px;
  }
  .functioning__number {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -8px;
    border-radius: 25px;
    background-color: #9356dc;
    color: white;
    text-align: center;
    line-height: 24px;
  }
  .functioning__btn--txt {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .functioning__btn--txt .fa-solid {
    display: inline-block;
    color: var(--grey-4);
    padding-right: 27px;
  }
  /***** ↓ RESTAURANT CARDS ↓ *****/
  .container__restaurants {
    background-color: var(--grey-3);
    padding-left: 17px;
    padding-right: 18px;
    padding-bottom: 66px;
  }
  .container__restaurants__cards {
    box-sizing: border-box;
  }
  .container__restaurants .card {
    background-color: white;
    border-radius: 25px;
    max-width: 100%;
    height: 230px;
    flex-shrink: 0;
    padding: 0px;
    margin-bottom: 18px;
  }
  .container__restaurants .card img {
    height: 150px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .container__restaurants .card .card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container__restaurants .card .card__content p {
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 13px;
    margin-right: 60px;
  }
  .container__restaurants .card .card__content h4 {
    color: black;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 60px;
  }
  .container__restaurants .card .card__content .card__content__btn {
    display: flex;
    font-size: 33px;
    padding: 23px 25px 0px 0px;
  }
}/*# sourceMappingURL=styles.css.map */