$purple: #9356dc;
$button-gradient: linear-gradient(
  193deg,
  lighten($purple, 11%),
  darken(#ff79da, 24%)
);
$grey: #353535;
$grey-2: #eaeaea;
$grey-3: #f6f6f6;
$grey-4: #7e7e7e;
$light-green: #99e2d0;
$green: #008766;
$pink: #ff79da;
